name: Build Kivy APK Manual
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    # CAMBIO CLAVE: Usamos la versión 22.04 que es más compatible con Android/Kivy
    runs-on: ubuntu-22.04
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # 1. Liberar espacio
      - name: Free Disk Space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      # 2. Instalar dependencias (Lista corregida para Ubuntu 22.04)
      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            python3-pip \
            build-essential \
            git \
            python3 \
            python3-dev \
            ffmpeg \
            libsdl2-dev \
            libsdl2-image-dev \
            libsdl2-mixer-dev \
            libsdl2-ttf-dev \
            libportmidi-dev \
            libswscale-dev \
            libavformat-dev \
            libavcodec-dev \
            zlib1g-dev \
            libgstreamer1.0 \
            gstreamer1.0-plugins-base \
            gstreamer1.0-plugins-good \
            libffi-dev \
            cmake \
            libssl-dev \
            zip \
            unzip \
            autoconf \
            libtool \
            pkg-config \
            libncurses5-dev \
            libncursesw5-dev \
            openjdk-17-jdk

      # 3. Instalar Buildozer
      - name: Install Buildozer
        run: |
          pip3 install --upgrade pip
          pip3 install --user --upgrade Cython==0.29.33 virtualenv
          pip3 install --user --upgrade buildozer

      # 4. Construir la APK
      - name: Build APK
        run: |
          export PATH=$PATH:~/.local/bin
          yes | buildozer android debug

      # 5. Subir la APK
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: QR-Logo-Kivy-Final
          path: bin/*.apk
