name: Build Android APK
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # INSTALAR LIBRERÍAS DE LINUX (NECESARIO PARA NO FALLAR CON IMÁGENES)
      - name: Install Linux Libraries
        run: |
          sudo apt-get update
          sudo apt-get install -y libjpeg-dev zlib1g-dev

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      # INSTALAR DEPENDENCIAS (PIP)
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flet
          pip install -r requirements.txt

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Prepare Assets
        run: |
          mkdir -p assets
          cp icon.png assets/icon.png

      # COMPILACIÓN CON "YES" AUTOMÁTICO
      - name: Build APK with Flet
        run: |
          yes | flet build apk --verbose

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: QR-Logo-Works-Final
          path: build/apk/app-release.apk
